<!-- IF S_PN_TO_TEAM_MEMBER -->
<div class="rules">
	<strong>Achtung:</strong> Du möchtest eine private Nachricht an ein oder mehrere Mitglieder des phpBB.de-Teams senden. Sofern du nicht ausdrücklich nur dieses Mitglied persönlich anschreiben möchtest, empfehlen wir dir die Nutzung unseres <a href="{U_CONTACTFORM}">Kontaktformulares</a>. Darüber gesendete Anfragen können auch von anderen Teammitgliedern beantwortet werden, falls eines mal für längere Zeit nicht erreichbar ist (z.B. Urlaub oder Krankheit).
</div>
<!-- ENDIF -->